h1{color: white;}
h2{color: lightpink;}

body{background-color: ghostwhite;
font-family: italic;}

h2{font-family: courier;}

body{background-image: url("https://png2.kisspng.com/20180206/zeq/kisspng-watercolor-painting-flower-purple-watercolor-purple-flowers-5a7a7c2a1ff4d5.8128530115179766181309.png");}
